.card-section {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.card-list {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
}

.card {
	width: calc(50% - 1rem);
	aspect-ratio: 3/2;
	margin: 0 0 2rem 0;
	position: relative;

	@include atMedium {
		width: 100%;
		margin: 2rem 0;
	}

	.card-link {
		text-decoration: none;
		display: flex;
		flex-direction: column;
		height: 100%;
		position: relative;
		z-index: 1;
	}
	&__img-holder {
		width: 100%;
		height: 100%;
		top: 0;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&-wrapper {
		background-color: white;
		padding: 0 1.5rem 1.5rem 1.5rem;
		position: absolute;
		bottom: 0;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex-grow: 1;
		opacity: 0;
		transition: all 0.5s ease-out;
	}

	&:hover {
		.card-wrapper {
			opacity: 1;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		flex: 1 0 auto;
		text-align: left;
		padding: 0.5rem 0;
	}
	&__tag {
		font-family: Roboto, Helvetica, sans-serif;
		font-size: 0.75rem;
		line-height: 30px;
		font-weight: 700;
		text-transform: uppercase;
		color: $pointRed;
	}
	&__title {
		color: $mainBlack;
		font-family: "Frank Ruhl Libre", serif;
		font-size: 1.75rem;
		line-height: 1.1;
		letter-spacing: 0.075rem;
		overflow-wrap: break-word;
	}
	&__footer {
		font-family: Roboto, Helvetica, sans-serif;
		font-size: 0.85rem;
		color: #616161;
		margin-top: auto;
		.meta-text {
			float: left;
		}
		.star-rating {
			float: right;
		}
	}
}
